* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

html {
    overflow-x: hidden;
}

body {
    background: linear-gradient(90deg, #F37748, #6CA6C1);
    height: 100vh;
    width: 100vh;
}

.panelPrin {
    display: block;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    padding: 30px 30px;
    margin:auto;
    position:absolute;  
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 40%;
    font-weight: 600;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.panelPrin button {
    display: flex;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 40px;
    border-width: 2px;
    background: #fff;
    font-weight: 600;
    font-size: 1rem;
    border-color: rgba(1, 1, 1, 0.1);
}

.error p {
    font-weight: 800;
    color: #FF4F79;
}

.panelPrin h3 {
    text-decoration: underline;
    font-size: 1.4rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.panelPrin span {
    padding-right: 5px;
}

.panelPrin button:hover {
    background:  rgba(1, 1, 1, 0.1);
    transition: 0.4s;
    cursor:pointer;
}

.panelPrin button:active {
    background: #F37748;
    color: #F7FFF7;
    transition: 0.1s;
}

.panelPrin input {
    width: 70%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 5px;
    border-width: 1px;
    font-size: 0.9rem;
    border-color: rgba(1, 1, 1, 0.1);
}

.panelPrin p {
    font-weight: 200;
    font-size: 1rem;
    margin-top: 15px;
}

.panelPrin a{
    color: #F37748;
}

.panelPrin input:focus-visible {
    outline-style: none;
    background-color: rgba(1, 1, 1, 0.05);
}

.logo {
    display: flex;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 4%;
}

.logo img {
    margin-right: 20px;
    width:100px;
}